{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.login.title'|trans }}{% endblock %}

{% block body %}
    <div id="login-container" class="col-12 small-container">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'page.login.header'|trans }}</h1>

            {% include 'component/flashes.html.twig' %}

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.username, {'label': 'page.login.form.login'|trans}) }}

                <div id="login-button-container" class="d-flex justify-content-center">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}