{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.login.title'|trans }}{% endblock %}

{% block body %}
    <div id="login-container" class="col-12 small-container">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
            <div class="d-flex">
                <a href="#"
                   class="btn-link link-secondary mb-3 pt-0 pt-md-1 me-2 fs-5"
                   title="{{ 'page.back'|trans }}"
                   aria-label="{{ 'page.back'|trans }}"
                >
                    <i class="fa-solid fa-circle-arrow-left"></i>
                </a>
                <h1 class="h3 mb-3 font-weight-normal">{{ 'page.login.header'|trans }}</h1>
            </div>

            {{ form_start(form) }}
                <input type="hidden" id="prevent-from-validating" value="1">
                {{ form_errors(form) }}
                {{ form_row(form.username, {'label': 'page.login.form.username'|trans}) }}
                {{ form_row(form.password, {'label': 'page.login.form.password'|trans}) }}

                <div id="login-button-container" class="d-flex justify-content-center">
                    {{ form_row(form.submitButton, {'attr': {'class': 'btn btn-lg btn-primary'}, 'label': 'page.login.form.signInButton'|trans}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}