{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.register.title'|trans }}{% endblock %}

{% block body %}
    <div id="register-container" class="col-12 small-container">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
            <div class="d-flex">
                <a href="{{ path('app_login') }}"
                   class="btn-link link-secondary mb-3 pt-0 pt-md-1 me-2 fs-5"
                   title="{{ 'page.back'|trans }}"
                   aria-label="{{ 'page.back'|trans }}"
                >
                    <i class="fa-solid fa-circle-arrow-left"></i>
                </a>
                <h1 class="h3 mb-3 font-weight-normal">{{ 'page.register.header'|trans }}</h1>
            </div>

            {% include 'component/flashes.html.twig' %}

            {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="mb-3">
                    {{ form_label(form.username, 'page.register.form.username'|trans) }}
                    <div class="d-flex align-items-center">
                        {{ form_widget(form.username) }}
                        <button type="button"
                                id="generate-new-name"
                                class="btn btn-link"
                                title="{{ 'page.register.form.generateName'|trans }}"
                                aria-label="{{ 'page.register.form.generateName'|trans }}"
                        >
                            <i class="fa-solid fa-rotate-right"></i>
                            <span id="generate-name-spinner" class="spinner-grow spinner-grow-sm text-primary d-none" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </span>
                        </button>
                    </div>
                </div>

                <div id="register-button-container" class="d-flex justify-content-center">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-lg btn-primary', 'disabled': true}, 'label': 'page.register.form.signUpButton'|trans}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}