{% extends 'layout.html.twig' %}

{% block body %}
    <div class="panel-admin-dashboard-statistics d-flex flex-column align-items-center">
        {% include 'component/flashes.html.twig' %}

        <div class="d-flex mb-4 gap-4">
            <div class="statistic-card">
                <span class="title">Max score</span>
                <div class="results fs-4 fw-bold">
                    {{ maxScore|default('-')|number_format(2) }}
                </div>
            </div>

            <div class="statistic-card">
                <span class="title">Max Time</span>
                <div class="results fw-bold">
                    {{ maxTime|default('-') }}
                </div>
            </div>

            <div class="statistic-card">
                <span class="title">Registered Users</span>
                <div class="results fw-bold">
                    {{ numbersOfRegisteredUsers|default('-') }}
                </div>
            </div>
        </div>

        <div class="d-flex mb-4 gap-4">
            <div class="statistic-card">
                <span class="title">Max games by 1 user</span>
                <div class="results fw-bold">
                    {{ getMaxGamesByOneUser|default('-') }}
                </div>
            </div>

            <div class="statistic-card">
                <span class="title">Users with survey and minimum 1 game</span>
                <div class="results fw-bold">
                    {{ numberOfUsersWithSurveyAndGame|default('-') }}
                </div>
            </div>

            <div class="statistic-card">
                <span class="title">Number of games</span>
                <div class="results fw-bold">
                    {{ numberOfGames|default('-') }}
                </div>
            </div>
        </div>

        <div class="d-flex mb-4 gap-4">
            <div class="statistic-card">
                <span class="title">Average time to click (s)</span>
                <div class="results fw-bold">
                    {{ avgTimeToClick|default('-')|number_format(2) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}