{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.info.title'|trans }}{% endblock %}

{% block body %}
    <div id="info-container">
        <h3>{{ 'page.info.header'|trans }}</h3>
        <p>{{ 'page.info.description'|trans }}</p>

        <div class="accordion" id="info-panel">
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-1-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-1-body" aria-expanded="false" aria-controls="news-1-body">
                        {{ 'page.info.aboutProject.title'|trans }}
                    </button>
                </h4>
                <div id="news-1-body" class="accordion-collapse collapse" aria-labelledby="news-1-header">
                    <div class="accordion-body">
                        {{ 'page.info.aboutProject.text'|trans }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-2-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-2-body" aria-expanded="false" aria-controls="news-2-body">
                        {{ 'page.info.aboutData.title'|trans }}
                    </button>
                </h4>
                <div id="news-2-body" class="accordion-collapse collapse" aria-labelledby="news-2-header">
                    <div class="accordion-body">
                        <p>
                            {{ 'page.info.aboutData.text1.content'|trans }}
                            <ul>
                                <li>{{ 'page.info.aboutData.text1.actions.clickOnSquare'|trans }},</li>
                                <li>{{ 'page.info.aboutData.text1.actions.clickNextToSquare'|trans }},</li>
                                <li>{{ 'page.info.aboutData.text1.actions.squareOutOfBoard'|trans }},</li>
                            </ul>
                        </p>
                        <p>{{ 'page.info.aboutData.text2'|trans }}</p>
                        <p>{{ 'page.info.aboutData.text3'|trans }}</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-3-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-3-body" aria-expanded="false" aria-controls="news-3-body">
                        {{ 'page.info.dataUsage.title'|trans }}
                    </button>
                </h4>
                <div id="news-3-body" class="accordion-collapse collapse" aria-labelledby="news-3-header">
                    <div class="accordion-body">
                        {{ 'page.info.dataUsage.text.content'|trans }}
                        <ul>
                            <li>{{ 'page.info.dataUsage.text.list.actualScore'|trans }}</li>
                            <li>{{ 'page.info.dataUsage.text.list.actualTime'|trans }}</li>
                            <li>{{ 'page.info.dataUsage.text.list.countOfHp'|trans }}</li>
                            <li>
                                {{ 'page.info.dataUsage.text.list.infoAboutSquares.content'|trans }}:
                                <ul>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.actualPosition'|trans }}</li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.size'|trans }}</li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.timeToFall'|trans }}</li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.color'|trans }}</li>
                                    <li>
                                        {{ 'page.info.dataUsage.text.list.infoAboutSquares.list.status.content'|trans }}:
                                        <ul>
                                            <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.status.notFullySpawn'|trans }}</li>
                                            <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.status.fullySpawned'|trans }}</li>
                                            <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.status.exitingFromMap'|trans }}</li>
                                            <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.status.overBoard'|trans }}</li>
                                        </ul>
                                    </li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.actualPosition'|trans }}</li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.actualPosition'|trans }}</li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.actualPosition'|trans }}</li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.actualPosition'|trans }}</li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.missShots'|trans }}</li>
                                    <li>{{ 'page.info.dataUsage.text.list.infoAboutSquares.list.timeToClick'|trans }}</li>
                                </ul>
                            </li>
                            <li>{{ 'page.info.dataUsage.text.list.totalShots'|trans }}</li>
                            <li>{{ 'page.info.dataUsage.text.list.totalAccurateShots'|trans }}</li>
                            <li>{{ 'page.info.dataUsage.text.list.timeToFallModifier'|trans }}</li>
                            <li>{{ 'page.info.dataUsage.text.list.maxSquaresCount'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-4-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-4-body" aria-expanded="false" aria-controls="news-4-body">
                        {{ 'page.info.aboutAnonymous.title'|trans }}
                    </button>
                </h4>
                <div id="news-4-body" class="accordion-collapse collapse" aria-labelledby="news-4-header">
                    <div class="accordion-body">{{ 'page.info.aboutAnonymous.text'|trans }}</div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-5-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-5-body" aria-expanded="false" aria-controls="news-5-body">
                        {{ 'page.info.aboutUsername.title'|trans }}
                    </button>
                </h4>
                <div id="news-5-body" class="accordion-collapse collapse" aria-labelledby="news-5-header">
                    <div class="accordion-body">{{ 'page.info.aboutUsername.text'|trans }}</div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-6-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-6-body" aria-expanded="false" aria-controls="news-6-body">
                        {{ 'page.info.aboutPassword.title'|trans }}
                    </button>
                </h4>
                <div id="news-6-body" class="accordion-collapse collapse" aria-labelledby="news-6-header">
                    <div class="accordion-body">{{ 'page.info.aboutPassword.text'|trans }}</div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-9-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-9-body" aria-expanded="false" aria-controls="news-9-body">
                        {{ 'page.info.systemRequirements.title'|trans }}
                    </button>
                </h4>
                <div id="news-9-body" class="accordion-collapse collapse" aria-labelledby="news-9-header">
                    <div class="accordion-body">
                        <p>{{ 'page.info.systemRequirements.text.content1'|trans }}</p>
                        <p>{{ 'page.info.systemRequirements.text.content2'|trans }}</p>
                        <p>{{ 'page.info.systemRequirements.text.content3'|trans }}</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-7-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-7-body" aria-expanded="false" aria-controls="news-7-body">
                        {{ 'page.info.aboutRules.title'|trans }}
                    </button>
                </h4>
                <div id="news-7-body" class="accordion-collapse collapse" aria-labelledby="news-7-header">
                    <div class="accordion-body">
                        <p>{{ 'page.info.aboutRules.text.content1'|trans }}</p>
                        <p>{{ 'page.info.aboutRules.text.content2'|trans }}</p>
                        <p>
                            {{ 'page.info.aboutRules.text.content3.text1'|trans }}
                            <br>
                            {{ 'page.info.aboutRules.text.content3.text2'|trans }}
                        </p>
                        <p>
                            {{ 'page.info.aboutRules.text.content4.text1'|trans }}
                            <br>
                            {{ 'page.info.aboutRules.text.content4.text2'|trans }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-8-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-8-body" aria-expanded="false" aria-controls="news-8-body">
                        {{ 'page.info.yourDiploma.title'|trans }}
                    </button>
                </h4>
                <div id="news-8-body" class="accordion-collapse collapse" aria-labelledby="news-8-header">
                    <div class="accordion-body">
                        <p>{{ 'page.info.yourDiploma.text.content1'|trans }}</p>
                        <p>{{ 'page.info.yourDiploma.text.content2'|trans }}</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-10-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-10-body" aria-expanded="false" aria-controls="news-10-body">
                        {{ 'page.info.futureWorks.title'|trans }}
                    </button>
                </h4>
                <div id="news-10-body" class="accordion-collapse collapse" aria-labelledby="news-10-header">
                    <div class="accordion-body">
                        <p>{{ 'page.info.futureWorks.text.content1'|trans }}</p>
                        <p>{{ 'page.info.futureWorks.text.content2'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}