{% import 'component/aside_helper.html.twig' as helper %}

{% set currentRoute = app.request.attributes.get('_route') %}

<aside class="user-aside">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a href="{{ path('app_user_dashboard') }}" class="btn align-items-center {{ helper.isDashboardMenuActive() }}">
                <i class="fa-solid fa-chart-line"></i>
                {{ 'aside.dashboard'|trans }}
            </a>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle align-items-center" data-bs-toggle="collapse" data-bs-target="#users-collapse" aria-expanded="false">
                <i class="fa-solid fa-users"></i>
                {{ 'aside.users.header'|trans }}
            </button>

            <div class="collapse" id="users-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="#" class="btn align-items-center">
                            <i class="fa-solid fa-address-book"></i>
                            {{ 'aside.users.list'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn align-items-center">
                            <i class="fa-solid fa-user-plus"></i>
                            {{ 'aside.users.add'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</aside>